@charset"utf-8";
body {
    background: #f1f1f1;
    -webkit-overflow-scrolling: touch;
}

img {
    vertical-align: top
}

* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: '微软雅黑'
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 12px
}

a {
    text-decoration: none;
    color: #666
}

img {
    border: 0
}

p {
    line-height: 100%
}

dd,
dl,
dt,
ol,
ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

b,
strong {
    font-weight: normal
}

img {
    vertical-align: top
}

table {
    border-collapse: collapse
}

td,
th {
    border: 1px solid #000;
    padding: 0
}

.clearfix:after {
    display: block;
    content: "";
    clear: both
}

.clearfix {
    zoom: 1
}

.fl {
    float: left
}

.fr {
    float: right
}

img[lazy=loading] {
    background: #ccc
}

.hand {
    cursor: pointer
}

.prohibit {
    cursor: not-allowed
}

.progress-bar-security {
    background-color: #337ab7
}

.progress-bar-warning {
    background-color: #f0ad4e
}

.progress-bar-danger {
    background-color: #d9534f
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.hide {
    display: none
}

.hidden {
    visibility: hidden
}

.show {
    visibility: visible
}

.text-single-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text1-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.text2-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

.text3-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
}

.text4-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden
}

.panel-body {
    padding: 15px
}

.load-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #fff
}

.load-wrap .mint-spinner-triple-bounce {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%
}

.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999
}

.load .mint-spinner-triple-bounce {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%
}

input::-webkit-input-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

input:-moz-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

input::-moz-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

input:-ms-input-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

button,
input,
.shop_sn,
textarea {
    outline: none
}

textarea::-webkit-input-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

textarea:-moz-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

textarea::-moz-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

textarea:-ms-input-placeholder {
    color: #CECECE;
    font-size: 32/100rem
}

button,
textarea,
textarea {
    outline: none
}

button,
input,
select,
textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0
}

.btnOk {
    background-color: #D19E29;
    color: #fff;
    font-size: 0.32rem;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    width: 7.1rem;
    height: 0.90rem;
    margin: 0 auto;
    border: 0;
    border-radius: 0.9rem;
    text-align: center;
}

.btnNo {
    background-color: #B6B4B5;
    color: #fff;
    font-size: 0.32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.1rem;
    height: 0.90rem;
    margin: 0 auto;
    border: 0;
    border-radius: 0.9rem;
    text-align: center;
}

::-webkit-scrollbar {
    display: none
}